
h2, h3 {
    font-family: rick_and_morty;
}

h1 {
    font-family: get schwifty;
    color: #97ce4c;
    cursor: pointer;
}

h3 {
    font-size: 3em;
    margin: 0 0 25px;
    border-bottom: 1px solid;
    clear: both;
}

body {
    margin: 0;
    font-family: Huxtable;
    color: #44281d;
    background: url(../img/bg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: green;
}

h2 {
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-top: 30px;
    border-radius: 55px 55px 0 0;
     /* IE6-9 */
    transform-origin: bottom;
    perspective-origin: bottom;
    box-shadow: 0 -9px 13px -5px rgba(0, 0, 0, 0.58), 0 -2px 0px 0px rgb(13, 66, 136);
    transition: transform 1s cubic-bezier(0.51, 0.04, 0.56, 1.74), box-shadow 1s cubic-bezier(0.51, 0.04, 0.56, 1.74);
    transform: rotateX(-20deg);
    transition-delay: 1.5s;
}

label {
    width: 32.6333%;
    float: left;
    background: #223366;
    box-shadow: 0 0 2px 1px #fff, 0 0 14px 0px #0ff;
    color: #d1e4ff;
    font-size: 27px;
    text-align: center;
    margin: 0 1% 1% 0;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .4s ease;
}

label:nth-child(3n) {
    margin-right: 0;
}

input {
    display: none;
}

.box {
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .2s cubic-bezier(0.25, 0.1, 0.34, 1.83);
  right: 0;
}

.nav-bar {
    background: #000000;
    color: #97ce4c;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.container {
    max-width: 1200px;
    margin: auto;
    background: rgb(232, 237, 244);
    padding: 50px;
    margin-top: -10px;
    border-radius: 10px 10px 0 0;
    animation: fadein 1s cubic-bezier(0.48, 0.05, 0.67, 1.96);
    position: relative;
    box-shadow: 0 0 10px 2px #fff, 0 0 42px 2px #00b9ff, 0 0 0 200px rgba(255, 255, 255, 0);
    transition: box-shadow .5s ease;
    transition-delay: .9s;
    z-index: 2;
}

.row {
    /* overflow: hidden; */
    display: flex;
}

.one-third {
    flex-basis: 33.3333%;
    margin-top: 27px;
    border: 1px solid;
    padding: 14px;
    box-shadow: inset 0 0 9px #00000088;
    border-radius: 6px;
}

.two-thirds {
    flex-basis: 66.6666%;
    transition: all .2s ease;
    padding-left: 40px;
}

.half {
    float: left;
    width: 49%;
    margin: 1% 2% 1% 0;
}



.attacks table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
}

.add-to-cart .price:before {
    content: "";
    position: absolute;
    left: 0;
    top: 40%;
    bottom: 40%;
    right: 0;
    background: #000;
    box-shadow: 0 0 5px;
    border-radius: 100%;
    transition-delay: 1s;
    transition: all .5s ease;
}

.home-link {
    position: relative;
    padding: 20px 0px;
    perspective: 741px;
    perspective-origin: bottom;
}

.nav-links ul {list-style: none;display: flex;justify-content: space-between;}

.detail-boxes {
    float: left;
    width: 100%;
    position: relative;
}

.box:not(.requirements) {
    text-align: center;
}

.one-fifth {
    flex-basis: 20%;
    padding: 0 20px 0 0px;
    flex-grow: 1;
}

.product-link {
    position: relative;
    display: block;
    padding-top: 100%;
    border: 1px solid;
    background: rgb(13, 68, 136);
    border-radius: 6px;
    box-shadow: inset 0 0 14px 1px #fff;
    transition: all .2s ease;
    background-image: url(../img/bg2.jpg);
    background-attachment: fixed;
}

.other-products {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

a.product-link img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 134%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    pointer-events: none;
    transition: height .2s cubic-bezier(0.25, 0.1, 0.18, 2.08);
}


.product-link h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 15px 5px;
    background: rgba(0, 0, 0, 0.84);
    text-align: center;
    color: #addeea;
}

.container > div:not(:last-of-type) {
    margin-bottom: 40px;
}

.details {
  width: 100%;
  overflow: hidden;
  padding: 25px;
  background: #0d4488;
  box-shadow: inset 0 0 9px 3px #fff, inset 0 0 67px 0px #0ff;
  border: 1px solid #000;
  color: #fff;
  min-height: 493px;
}

.details, .attacks, .one-third {
    padding: 25px;
    background: #0d4488;
    box-shadow: inset 0 0 9px 3px #fff, inset 0 0 67px 0px #0ff, 0 0 12px #0000005c, 0 0 19px 12px;
    border: 1px solid #000;
    color: #fff;
    border-radius: 6px;
    background: url(../img/bg2.jpg);
    background-attachment: fixed;
}

input#description-btn:checked ~ .detail-boxes .description {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#information-btn:checked ~ .detail-boxes .information {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#Requirements-btn:checked ~ .detail-boxes .requirements {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#stats-btn:checked ~ .detail-boxes .stats {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#quote-btn:checked ~ .detail-boxes .quote {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#character-btn:checked ~ .detail-boxes .character {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

@keyframes fadein {
    from { opacity: 0; top: 50px; filter:invert(1)}
    to   { opacity: 1; top: 0px; filter:invert(0)}
}

.price {
    padding: 20px;
    font-size: 2em;
    text-align: center;
    line-height: 1;
    width: 80%;
    display: block;
    position: relative;
    margin: auto;
}

.add-to-cart {
    margin-bottom: 20px;
    padding-top: 0;
    border-radius: 0 0 55px 55px;
    /*box-shadow: inset 0 -14px 13px -8px rgba(0, 0, 0, 0.58);
    background: rgba(0, 97, 255, 0.07);*/
    transform-origin: top;
}

.price span {
    background: #97ce4c;
    border-radius: 100%;
    border: 8px solid #ffff55;
    border-left-color: white;
    border-right-color: white;
    box-shadow: inset 0 0 5px #000, 0 0 5px #000;
    padding: 0px 13px 8px 22px;
    position: relative;
}

.cart-btn, .nav-links a{
    display: inline-block;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#13fcfe+0,37a6ff+100 */
    position: relative;
    background: rgb(19,252,254); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(19,252,254,1) 0%, rgba(55,166,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(19,252,254,1) 0%,rgba(55,166,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(19,252,254,1) 0%,rgba(55,166,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13fcfe', endColorstr='#37a6ff',GradientType=0 ); /* IE6-9 */
    padding: 15px 30px;
    border-radius: 16px;
    box-shadow: inset 0 0 5px 2px #fff;
    border: 4px solid #000;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: skewx(30deg);
    width: 64px;
    height: 6px;
    margin-right: 5px;
}

a.cart-btn span {
    transform:  skewx(-30deg);
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

.price span:before {
    content: url(../img/flurbo.png);
    position: absolute;
    left: -6px;
    top: -8px;
}

.other-images .half {
    height: 80px;
}

.box .half {
    border: 1px solid rgba(255, 255, 255, 0.32);
    padding: 20px;
}

h4 {
    margin: 0 0 6px;
    letter-spacing: 1px;
    font-size: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-bottom: 4px;
}

.dark-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    box-shadow: inset 0 0 156px 26px #000;
    z-index: 3;
    transition: all 1s ease;
    transition-delay: .5s;
}

.other-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 10s ease;
}


.half:nth-of-type(2n) {
    margin-right: 0;
}
th {
    padding: 7px;
    border-right: 1px solid #0d4488;
}

thead {
    background: rgba(255, 255, 255, 0.48);
    color: #000;
}

th:last-child {
    border: none;
}

td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
}

table td {
    padding: 5px;
}

a.product-link:hover img {
    height: 120%;
}

a.product-link:hover {
    background: url(../img/bg.jpg);
    background-attachment: fixed;
}

label:hover, input:checked + label {
    background: #2248ba;
    box-shadow: 0 0 2px 0px #fff, 0 0 7px 0px #0ff;
}

input:checked + label {
    box-shadow: 0 0 2px 1px #d37979, 0 0 14px 0px #0ff, inset 0 0 25px #000;
    color: #fff;
}

.buttons {
    overflow: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

a.cart-btn.grey {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93c8c9+0,a2bcd2+100 */
background: rgb(147,200,201); /* Old browsers */background: -moz-linear-gradient(top, rgba(147,200,201,1) 0%, rgba(162,188,210,1) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(top, rgba(147,200,201,1) 0%,rgba(162,188,210,1) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to bottom, rgba(147,200,201,1) 0%,rgba(162,188,210,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c8c9', endColorstr='#a2bcd2',GradientType=0 ); /* IE6-9 */
}

.other-images:after {
  content: "";
  display: table;
  clear: both;
}

a.cart-btn:hover {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87efff+0,99c5ff+100 */
    background: rgb(135,239,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(135,239,255,1) 0%, rgba(153,197,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(135,239,255,1) 0%,rgba(153,197,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(135,239,255,1) 0%,rgba(153,197,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87efff', endColorstr='#99c5ff',GradientType=0 ); /* IE6-9 */
}

.box.character p {
    font-size: 4em;
}

.box.quote p, .box.description {
    font-size: 2em;
    font-style: italic;
}

.box.quote:before {
    content: '"';
    font-size: 7em;
    position: absolute;
    left: 12px;
    top: -20px;
    transform: skewX(-30deg);
}

.box.requirements ul {
    font-size: 1.5em;
}

.box span {
    display: block;
    padding: 3px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.26);
}

.product-img {
    /* margin-top: 27px; */
}

tbody tr:hover {
    background: rgba(255, 255, 255, 0.17);
}

tr {
    transition: all .2s ease;
}

.sub-title {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #326a79;
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 5px #000;
    border-radius: 0 0 20px 20px;
    box-shadow: inset 0 6px 6px -5px #000, 0 0 10px #000;
    font-size: 47px;
    text-transform: uppercase;
    color: #658e87;
    transform: rotateX(90deg) perspective(0px);
    transition: transform 2s ease, color 2s ease, background 2s ease;
    transform-origin: top;
}

h1:hover + .sub-title {
    transform: rotateX(0deg) perspective(1000px);
    background: #55b4cf;
    color: #aef6ea;
}

.tag {
    position: absolute;
    top: -17px;
    left: 25%;
    right: 25%;
    text-align: center;
    background: #002f5ff0;
    padding: 10px;
    color: #8ec248;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 0 0 10px #00000088;
    border: 1px solid;
}

.nav-links {
    min-width: 50%;
}

.nav-links a {
    height: auto;
    width: auto;
}

.non-movable {
    height: 100%;
}

.movable {
    position: absolute;
    bottom: calc(100% + 5px);
    left: 0;
    right: 0;
    height: 304px;
    opacity: 0;
    transition: all .35s ease;
}

.other-images {
    position: relative;
}

.non-movable:hover + .movable {
    opacity: 1;
}

.non-movable:hover + .movable img {
    object-position: bottom right;
}

.movable img {
    object-position: top left;
    object-fit: none;
}
