
h2, h3 {
    font-family: rick_and_morty;
}

h1 {
    font-family: get schwifty;
    color: green;
}

body {
    margin: 0;
    font-family: Huxtable;
    background: url(../img/bg.jpg);
}


div {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: green;
}

h2 {
    font-size: 4em;
}

label {
    width: 33.3333%;
    float: left;
}

input {
    display: none;
}

.box {
  overflow: auto;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
  right: 0;
}

.nav-bar {
    overflow: auto;
    background: #b6b6db;
}

.container {
    max-width: 1200px;
    margin: auto;
    background: rgba(255, 255, 255, 0.63);
    padding: 50px;
}

.row {
    overflow: auto;
}

.one-third {
    float: left;
    width: 33.3333%;
}

.two-thirds {
    width: 66.6666%;
    float: left;
}

.half {
    float: left;
    width: 50%;
}



.attacks table {
    width: 100%;
    text-align: center;
}

.add-to-cart .price {
    float: left;
    width: 50%;
}

.home-link {
    float: left;
}

.nav-links {
    float: right;
}

.detail-boxes {
    float: left;
    width: 100%;
    position: relative;
}

.box:not(.requirements) {
    text-align: center;
}

.one-fifth {
    float: left;
    width: 20%;
    padding: 0 20px;
}

.product-link {
    position: relative;
    display: block;
    padding-top: 100%;
    border: 1px solid;
}

.other-products {
    overflow: auto;
}

a.product-link img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.product-link h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 15px;
}

.container > div:not(:last-of-type) {
    margin-bottom: 40px;
}

.box {
}

.details {
  width: 100%;
}

input#description-btn:checked ~ .detail-boxes .description {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#information-btn:checked ~ .detail-boxes .information {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#Requirements-btn:checked ~ .detail-boxes .requirements {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#stats-btn:checked ~ .detail-boxes .stats {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#quote-btn:checked ~ .detail-boxes .quote {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}

input#character-btn:checked ~ .detail-boxes .character {
    opacity: 1;
    position: relative;
    visibility: visible;
    top: 0;
}
