@font-face {
    font-family: 'Rick_and_Morty';
    src: url('Rick_and_Morty.eot');
    src: url('Rick_and_Morty.eot?#iefix') format('embedded-opentype'),
        url('Rick_and_Morty.woff') format('woff'),
        url('Rick_and_Morty.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
